.home--kanns-child {
    .title-h1 {
        font-size: 40px;
        line-height: 55px;
        color: $cyanDarkGrayish;
        margin-bottom: 10px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(20px + 20 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(55 / 40);
        }
    }

    .home__text {
        font-size: 20px;
        line-height: 32px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(16px + 4 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(32 / 20);
        }
    }   
}