.kanns-offer--green {
	.kanns-offer {
		&__title {
			color: $greenDarkModerate;
		}

		&__accent {
			color: $greenSecondary;
		}
	}

	.kanns-features {
		&__title {
			color: $greenDarkModerate;
		}

		&__wrapper {
			background-color: $greenLightGrayish;
			border-color: $greenSecondary;
		}
	}
}
