@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// === libs ===
@import "libs/index";

// === fonts ===
@import "fonts";

// === Base ===
@import "base/index";

// === Components ===
@import "components/index";

// === Pages ===
@import "pages/index";

.formular {
	padding: 112px 0;

	@media screen and (max-width: 767px) {
		padding: 28px 0;
	}

	// .formular__container
	&__container {
		@media screen and (min-width: 992px) {
			max-width: 1218px;
		}
	}

	&__step-one {
	}
	&__step-two {
		display: none;

		max-width: 708px;
		margin: 0 auto;
	}

	// .formular__header
	&__header {
		text-align: center;
		margin-bottom: 66px;

		@media screen and (max-width: 767px) {
			margin-bottom: 52px;
		}
	}

	// .formular__title
	&__title {
		margin-bottom: 25px;

		@media screen and (max-width: 767px) {
			margin-bottom: 18px;
		}
	}

	// .formular__text-step
	&__text-step {
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: $redDarkGrayish;
	}

	// .formular__text
	&__text {
		font-size: 16px;
		line-height: 24px;
		color: $grayThird;
	}

	// .formular__table
	&__table {
		margin-bottom: 33px;

		@media screen and (max-width: 767px) {
			margin-bottom: 37px;
		}

		.table__row {
			width: 100%;
		}

		.table__cell {
			@media screen and (min-width: 901px) {
				flex: 0 0 20%;
				padding: 0 4px;
				display: flex;
			}

			&.accordion__text {
				@media screen and (max-width: 900px) {
					display: none;
				}
			}

			&-wrapper {
				width: 100%;
			}

			&-title {
				font-family: Mulish;
				font-weight: 700;
				font-size: 18px;
				line-height: 27px;
				color: #fff;

				@media screen and (max-width: $layoutDesktop + "px") {
					font-size: calc(16px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
					line-height: calc(27 / 18);
				}
			}
		}

		.table__head {
			@media screen and (max-width: 900px) {
				display: none;
			}

			.table__row {
				margin-bottom: 12px;
			}

			.table__cell {
				height: 98px;

				&-wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					padding: 10px 5px 6px;
					border-radius: 4px;
				}

				&--green {
					.table__cell-wrapper {
						background-color: $greenSecondary;
					}
				}

				&--red {
					.table__cell-wrapper {
						background-color: $red;
					}
				}

				&--orange-bright {
					.table__cell-wrapper {
						background-color: $orangeBright;
					}
				}

				&--blue-dark {
					.table__cell-wrapper {
						background-color: $BlueDark;
					}
				}

				&--cyan-dark {
					.table__cell-wrapper {
						background-color: $cyanDark;
					}
				}
			}
		}

		.table__body {
			display: flex;

			.accordion__title {
				margin-bottom: 8px;
				padding: 0;
				border-radius: 4px;

				@media screen and (min-width: 901px) {
					display: none;
				}
				@media screen and (max-width: 450px) {
					padding: 0;
				}

				&::before {
					display: none;
				}

				&::after {
					width: 18px;
					height: 25px;
					right: 19px;
					top: 50%;
					background: url(../img/icons/accordion-triangle.svg) no-repeat center;
					transform: rotate(0) translate(0, -50%);
					transform-origin: 6px 0;
				}
				&.active {
					&::after {
						transform: rotate(90deg) translate(0, -50%);
					}
				}

				.table__cell {
					&-wrapper {
						display: flex;
						align-items: center;
					}

					&-img {
						flex: 0 0 90px;
					}

					&-title {
						font-size: 24px;
						line-height: 32px;
					}
				}
			}

			.accordion__text {
				@media screen and (max-width: 900px) {
					margin-bottom: 20px;
				}
			}

			.table__row {
				@media screen and (max-width: 900px) {
					flex-direction: column;
				}
			}

			.table__cell {
				.accordion__text {
					padding: 0;
					@media screen and (min-width: 901px) {
						display: flex;
					}
				}

				&--green {
					.accordion__title {
						background-color: $greenSecondary;
					}

					.accordion__text {
						.table__cell-wrapper {
							background-color: rgba($color: $greenSecondary, $alpha: 0.1);
						}
					}

					.input-wrapper__label::before {
						border-color: $greenSecondary;
					}
				}

				&--red {
					.accordion__title {
						background-color: $red;
					}

					.accordion__text {
						.table__cell-wrapper {
							background-color: rgba($color: $red, $alpha: 0.1);
						}
					}

					.input-wrapper__label::before {
						border-color: $red;
					}
				}

				&--orange-bright {
					.accordion__title {
						background-color: $orangeBright;
					}

					.accordion__text {
						.table__cell-wrapper {
							background-color: rgba($color: $orangeBright, $alpha: 0.1);
						}
					}

					.input-wrapper__label::before {
						border-color: $orangeBright;
					}
				}

				&--blue-dark {
					.accordion__title {
						background-color: $BlueDark;
					}

					.accordion__text {
						.table__cell-wrapper {
							background-color: rgba($color: $BlueDark, $alpha: 0.1);
						}
					}

					.input-wrapper__label::before {
						border-color: $BlueDark;
					}
				}

				&--cyan-dark {
					.accordion__title {
						background-color: $cyanDark;
					}

					.accordion__text {
						.table__cell-wrapper {
							background-color: rgba($color: $cyanDark, $alpha: 0.1);
						}
					}

					.input-wrapper__label::before {
						border-color: $cyanDark;
					}
				}
			}

			.table__cell-wrapper {
				padding: 21px 15px;

				@media screen and (max-width: 1200px) {
					padding: 21px 10px;
				}
				@media screen and (max-width: 900px) {
					padding: 21px 23px 26px;
				}
			}

			.input-wrapper {
				margin-bottom: 18px;
				&:last-child {
					margin-bottom: 0;
				}

				&__label {
					font-size: 12px;
					line-height: 18px;
					color: $gray;
					width: 100%;
					word-break: break-word;

					@media screen and (min-width: 901px) and (max-width: 1200px) {
						padding-left: 25px;

						&::before {
							width: 18px;
							height: 18px;
							border-width: 2px;
						}
					}
				}
			}
		}
	}

	.privacy {
		padding-left: 4px;
		margin-bottom: 143px;

		@media screen and (max-width: 900px) {
			margin-bottom: 37px;
		}
	}

	// .formular__buttons
	&__buttons {
		width: 100%;
		max-width: 254px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	// .formular__btn
	&__btn {
		width: auto;
		height: 40px;
		padding: 9px 18px;
		white-space: nowrap;

		&:first-child {
			margin-right: 17px;
		}
	}

	&__inputs {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -14px 89px;

		@media screen and (max-width: 767px) {
			margin: 0 -5px 63px;
		}
		@media screen and (max-width: 575px) {
			margin: 0 0 63px;
		}

		.input-wrapper {
			flex: 0 0 50%;
			align-items: center;
			justify-content: space-between;
			padding: 7px 14px;

			@media screen and (max-width: 767px) {
				padding: 7px 5px;
			}
			@media screen and (max-width: 575px) {
				padding: 3.5px 0;
				flex: 0 0 100%;
			}

			&__text-input {
				height: 61px;
				padding: 19px 21px;

				@media screen and (max-width: 767px) {
					padding: 19px 15px;
				}
				@media screen and (max-width: 575px) {
					height: 45px;
				}
			}

			&__text-label {
				font-weight: 600;
				left: 36px;

				@media screen and (max-width: 767px) {
					left: 15px;
				}
			}
		}

		.custom-select {
			background-color: $whiteMostly;
			width: 100%;
			height: 61px;
			align-items: flex-end;
			justify-content: center;
			padding-right: 22px;

			@media screen and (max-width: 767px) {
				padding-right: 10px;
			}
			@media screen and (max-width: 575px) {
				height: 45px;
			}
		}

		label {
			pointer-events: none;
		}
	}

	&__investieren {
		margin: 0;
		display: block;

		@media screen and (max-width: 767px) {
			margin: 0;
		}
		@media screen and (max-width: 575px) {
			margin: 0;
		}

		.privacy {
			padding: 0;

			.input-wrapper {
				padding: 0;

				&__label {
					pointer-events: auto;

					&::before {
						top: 50%;
						border-color: $silver;
						transform: translate(0, -50%);
					}

					@media screen and (max-width: $layoutDesktop + "px") {
						font-size: 12px;
						line-height: 18px;
					}
				}
			}
		}

		.formular__buttons {
			max-width: 370px;

			@media screen and (max-width: 575px) {
				max-width: 302px;
			}

			.formular__btn {
				@media screen and (max-width: 450px) {
					padding: 0 14px;
				}
				@media screen and (max-width: 400px) {
					margin-right: 10px;
					padding: 0 12px;
				}
			}
		}
	}

	// .formular__investieren-title
	&__investieren-title {
		text-align: center;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 25px;

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(24 / 16);
		}
	}

	// .formular__investieren-row
	&__investieren-row {
		align-items: center;
		margin: 0 -14px 30px;

		@media screen and (max-width: 767px) {
			margin: 0 -5px 32px;
		}
		@media screen and (max-width: 575px) {
			flex-direction: column;
			align-items: flex-start;
			margin: 0 0 32px;
		}
	}

	// .formular__tip
	&__tip {
		flex: 1 1 auto;
		padding: 0 14px;
		padding-right: 28px;

		@media screen and (max-width: 767px) {
			padding: 0 5px;
		}
		@media screen and (max-width: 575px) {
			padding: 0;
			margin-bottom: 15px;
		}
	}

	// .formular__tip-text
	&__tip-text {
	}
}

.table {
	// .table__row
	&__row {
		display: flex;
		flex-wrap: nowrap;
	}
}
