.real-example {
	background-color: #fffcf7;
	padding: 100px 0;

	@media screen and (max-width: 991px) {
		padding: 43px 0;
	}

	&__container {
		@media screen and (min-width: 992px) {
			max-width: 1247px;
		}
	}

	&__header {
		text-align: center;
		margin-bottom: 75px;

		@media screen and (max-width: 767px) {
			margin-bottom: 45px;
		}
	}

	// .real-example__title-h1
	&__title-h1 {
		margin-bottom: 20px;

		@media screen and (max-width: 767px) {
			margin-bottom: 15px;
		}

		br {
			display: none;
			@media screen and (max-width: 575px) {
				display: block;
			}
		}
	}

	// .real-example__subtitle
	&__subtitle {
		font-size: 16px;

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(25 / 16);
		}
	}

	// .real-example__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 -15px 109px;
		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (max-width: 991px) {
			margin-bottom: 50px;
		}
		@media screen and (max-width: 575px) {
			flex-direction: column-reverse;
		}

		&--reverse {
			flex-direction: row-reverse;
		}
	}

	// .real-example__content
	&__content {
		padding: 0 15px;
		flex: 0 0 50%;

		@media screen and (max-width: 767px) {
			flex: 0 0 45%;
		}
		@media screen and (max-width: 575px) {
			text-align: center;
		}
	}

	&__content-title {
		margin-bottom: 35px;
		max-width: 486px;

		@media screen and (max-width: 575px) {
			margin-bottom: 20px;
		}
	}

	// .real-example__text
	&__text {
		font-size: 20px;
		line-height: 32px;
		max-width: 486px;

		@media screen and (max-width: $layoutDesktop + "px") {
			font-size: calc(14px + 6 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(32 / 20);
		}

		&-list {
			margin-top: 20px;

			@media screen and (max-width: 575px) {
				margin-top: 10px;
			}
		}
	}

	// .real-example__img
	&__img {
		padding: 0 15px;
		flex: auto;
		display: flex;
		justify-content: center;

		@media screen and (max-width: 575px) {
			max-width: 250px;
			margin: 0 auto 30px;
		}
		@media screen and (max-width: 450px) {
			max-width: 230px;
		}
	}
}
