.btn {
    border-radius: 5px;
    font-family: $fontSecond;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 175px;
    transition: 0.3s ease all 0s;

    &--bg {
        background-color: $orange;
        color: $white;

        &:hover {
            background-color: $orange-hover;
        }
        &:focus {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        &.disabled {
            background-color: rgba(242, 153, 74, 0.5);
        }
    }

    &--orange {
        color: $orange;
        border: 2px solid $orange;

        &:hover {
            color: $orange-hover;
            border-color: $orange-hover;
        }
    }

    &--gray {
        color: $gray;
        border: 2px solid $gray;

        &:hover {
            color: $orange-hover;
            border-color: $orange-hover;
        }
    }

    &--text {
        color: $greenSecondary;
        font-size: 14px;
        line-height: 23px;
        display: inline-block;
    }
}
