.icon-chat-orange {
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 24px;
	background: url("../img/icons/chat-orange.svg") center no-repeat;
}

.icon-human {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 55px;
	background: url("../img/icons/human.svg") center no-repeat;
}

.icon-tooth {
	display: inline-block;
	vertical-align: middle;
	width: 36px;
	height: 45px;
	background: url("../img/icons/tooth.svg") center no-repeat;
}

.icon-sun {
	display: inline-block;
	vertical-align: middle;
	width: 54px;
	height: 53px;
	background: url("../img/icons/sun.svg") center no-repeat;
}

.icon-moon {
	display: inline-block;
	vertical-align: middle;
	width: 39px;
	height: 41px;
	background: url("../img/icons/moon.svg") center no-repeat;
}

.icon-hospital {
	display: inline-block;
	vertical-align: middle;
	width: 43px;
	height: 41px;
	background: url("../img/icons/hospital.svg") center no-repeat;
}

.icon-house {
	display: inline-block;
	vertical-align: middle;
	width: 92px;
	height: 82px;
	background: url("../img/icons/house.svg") center no-repeat;
}

.icon-check-list {
	display: inline-block;
	vertical-align: middle;
	width: 144px;
	height: 94px;
	background: url("../img/icons/check-list.svg") center no-repeat;
}

.icon-euro {
	display: inline-block;
	vertical-align: middle;
	width: 144px;
	height: 94px;
	background: url("../img/icons/euro.svg") center no-repeat;
}

.icon-mail {
	display: inline-block;
	width: 144px;
	height: 94px;
	background: url("../img/icons/mail.svg") center no-repeat;
}

.icon-puzzle {
	display: inline-block;
	vertical-align: middle;
	width: 144px;
	height: 94px;
	background: url("../img/icons/puzzle.svg") center no-repeat;
}

.icon-rocket {
	display: inline-block;
	vertical-align: middle;
	width: 144px;
	height: 94px;
	background: url("../img/icons/rocket.svg") center no-repeat;
}

.icon-team {
	display: inline-block;
	vertical-align: middle;
	width: 144px;
	height: 94px;
	background: url("../img/icons/team.svg") center no-repeat;
}

.arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 18px;
	background: url("../img/icons/arrow-right.svg") center no-repeat;
}