.input-wrapper {
    position: relative;
    flex: 1 1 100%;

    &__text {
        width: 100%;
        background-color: $whiteMostly;
        border-radius: 3px;
        font-weight: 600;
        font-size: 14px;
        line-height: 23px;
        color: $fontColor;

        &::placeholder {
            opacity: 1;
            transition: 0.5s ease all 0s;
            color: $silver;
        }

        &:focus {
            outline: 0;
            &::placeholder {
                opacity: 0;
            }
        }

        &-input {
            width: 100%;
            background-color: $whiteMostly;
            border-radius: 3px;
            font-weight: 600;
            font-size: 14px;
            line-height: 23px;
            color: $fontColor;
            text-align: right;
            padding-left: 55px;
        }

        &-label {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            background: $whiteMostly;
            padding-right: 3px;
        }
    }

    input[type="radio"] {
        display: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    &__label {
        padding-left: 36px;
        cursor: pointer;
        position: relative;
        line-height: 24px;
        user-select: none;
        display: block;

        &::before {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
            border: 3px solid #000;
        }
    }
}

.input-wrapper--radio {
    input[type="radio"] + label:before {
        border-radius: 50%;
    }

    input[type="radio"]:checked + label:before {
        border-width: 8px;
    }
}
.input-wrapper--check {
    input[type="checkbox"]:checked + label:before {
        content: "";
        background: url(../img/icons/input-check.svg) no-repeat center/cover;
    }
}
