.title {
    &-h1 {
        font-family: $fontSecond;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(20px + 10 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(35 / 30);
        }
    }

    &-h2 {
        font-family: $fontSecond;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(16px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(27 / 18);
        }
    }

    &-2 {
        font-family: $fontSecond;
        font-weight: 700;
        font-size: 22px;
        line-height: 34px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(20px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(34 / 20);
        }
    }

    &-XL {
        font-family: $fontSecond;
        font-weight: 700;
        font-size: 40px;
        line-height: 55px;

        @media screen and (max-width: $layoutDesktop + 'px') {
            font-size: calc(24px + 16 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(55 / 40);
        }
    }
}