// === Sizes ===
$size-container: 1250px;
$layoutDesktop: 1440;
$layoutMobile: 375;
$size-header-height: 100px;
$size-header-height-mobile: 70px;

// === Font ===
$fontSize: 14px;
$fontColor: #4f4f4f;
$fontWeight: 400;
$font: "Open Sans";
$fontSecond: "Mulish";
$lineHeight: 140%;

// === Color ===
$orange: #f2994a;
$orange-hover: #f48828;
$white: #fff;
$black: #000;
$gray: #333;
$graySecondary: #4f4f4f;
$silver: #bdbdbd;
$snow: #fbfbfb;
