// === Sizes ===
$size-container: 1250px;
$layoutDesktop: 1440;
$layoutMobile: 375;
$size-header-height: 100px;
$size-header-height-mobile: 70px;

// === Font ===
$fontSize: 14px;
$fontColor: #4f4f4f;
$fontWeight: 400;
$font: "Open Sans";
$fontSecond: "Mulish";
$lineHeight: 140%;

// === Color ===
$orange: #f2994a;
$orange-hover: #f48828;
$orangeSecondary: #e3ab21;
$orangeThird: #e75034;
$orangeBright: #efbc3f;
$white: #fff;
$black: #000;
$gray: #333;
$graySecondary: #4f4f4f;
$grayThird: #828282;
$silver: #bdbdbd;
$snow: #fbfbfb;
$red: #f2826d;
$green: #7bc04d;
$greenSecondary: #a9d18e;
$greenThird: #fbfdf9;
$greenLight: #e2f0d9;
$BlueDark: #3b5673;
$cyanDark: #109294;
$cyanDarkGrayish: #373f41;
