.section-price {
	padding: 94px 0 85px;

	@media screen and (max-width: 767px) {
		padding: 65px 0 60px;
	}

	// .section-price__container
	&__container {
		@media screen and (min-width: 992px) {
			max-width: 1258px;
		}
	}

	// .section-price__header
	&__header {
		text-align: center;
		max-width: 698px;
		margin: 0 auto 86px;

		@media screen and (max-width: 767px) {
			margin-bottom: 60px;
		}
		@media screen and (max-width: 575px) {
			margin-bottom: 40px;
		}
	}

	// .section-price__title
	&__title {
		color: $gray;
		margin-bottom: 46px;

		@media screen and (max-width: 767px) {
			margin-bottom: 24px;
		}
	}

	// .section-price__text
	&__text {
		font-size: 16px;
		line-height: 25px;

		@media screen and (max-width: $layoutDesktop + 'px') {
			font-size: calc(14px + 2 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(25 / 16);
		}
	}

	// .section-price__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -21px;

		@media screen and (max-width: 1200px) {
			margin: 0 -10px;
		}
		@media screen and (max-width: 767px) {
			margin: 0 -5px;
		}
		@media screen and (max-width: 450px) {
			margin: 0;
		}
	}

	&__item {
		padding: 28px 21px;
		flex: 0 0 25%;

		@media screen and (max-width: 1200px) {
			padding: 15px 10px;
		}
		@media screen and (max-width: 991px) {
			flex: 0 0 33.333%;
		}
		@media screen and (max-width: 767px) {
			padding: 5px;
			flex: 0 0 50%;
		}
		@media screen and (max-width: 450px) {
			flex: 0 0 100%;
			padding: 0 0 20px;
			&:last-child {
				padding-bottom: 0;
			}
		}
	}

	// .section-price__card
	&__card {
		min-height: 258px;

		@media screen and (max-width: 767px) {
			min-height: 180px;
		}
		@media screen and (max-width: 575px) {
			min-height: 140px;
		}
	}
}
